* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background: #D1C4E9;
}

input, #connButton {
	float:center;
	width:100%;
	height:48px;
	margin-top:5px;
	
	}

.main, .description, .chatlog {
	width:100%;
	background:#F2F2F2;
	margin:0 auto;
	border: 1px solid #CCCCCC;
}

.title {
	font-family: 'Passion One', cursive;
    color: #6441A4;
	text-align:center;
	width:100%;
	margin:0 auto;
	margin-bottom:8px;
	font-size: 24px;
}

#username{
	margin-top: 1ex;
	margin-bottom: 1ex;
}

#channel {
	border: 1px solid #212121;
	padding: 4px;
	color: #555;
	background: #FFFFFF;
	border-radius: 5px;
	resize: vertical;
	margin:0 auto;
	width:100%;
	
	/* Webkit */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#EEE),
		to(#fff)
		);
	
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px #fff;
	
	/* Firefox */
	background: -moz-linear-gradient(
		top,
		#EEE,
		#fff
		);
	
	-moz-border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #fff;
	
	/* IE */
	filter:progid:DXImageTransform.Microsoft.gradient
		(startColorstr=#ffEEEEEE,endColorstr=#ffffffff);
	zoom: 1;
}

.button_wrapper {
	margin-top: 1ex;
	margin-bottom: 1ex;
    text-align: center;
}

#loginTwitch {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

button img {
    display: block;
}

#username {
	display: none;
}

.loglist {
	width: 100%;
	margin: 0 auto;
    border-collapse: collapse;
    border: solid 1px #CCC;
    table-layout: fixed;
}

.loglist td, th{
    border: solid 1px #CCC;
}

.loglist tr td:nth-child(1) {
	width: 20%;
	vertical-align: top;
	text-align: left;
}
.loglist tr td:nth-child(2) {
    width: 20%;
    word-wrap: break-word;
	vertical-align: top;
	text-align: left;
}
.loglist tr td:nth-child(3) {
    width: 60%;
    word-wrap: break-word;
	vertical-align: top;
	text-align: left;
}